@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+HK:wght@200..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


@font-face {
  font-family: 'SmileySans';
  font-display: swap;
  src: url('/fonts/SmileySans-Oblique-2.ttf') format("truetype");  
}
@font-face {
  font-family: 'SmileySans';
  font-display: swap;
  src: url('/fonts/SmileySans-Oblique-3.otf') format("opentype"); 
}
